<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Sistema de Busqueda</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<nav id="header">
			<figure id="logo">
				<img src="img/logo.png" alt="Logo Archivo" />
			</figure>
			<h1 id="titulo">Sistema de Busqueda de Escrituras Públicas</h1>
		</nav>
	</header>
	<div id="menu">
		<nav>
			<ul>
				<li id="item1"><a href="#"></a></li>
				<li id="item2"><a href="#">Otorgantes</a></li>
				<li id="item3"><a href="#">Favorecidos</a></li>
				<li id="item4"><a href="#">Fecha</a></li>
				<li id="item5"><a href="#">Nombre Bien</a></li>
			</ul>
		</nav>
	</div>

	<nav id="cuerpo">
		<section>
			<div class="boton">
				<figure>
					<figcaption class="img1"></figcaption>
					<figcaption class="texto">Otorgante</figcaption>
				</figure>
			</div>
			<div class="boton">
				<figure>
					<figcaption class="img2"></figcaption>
					<figcaption class="texto">Favorecidos</figcaption>
				</figure>
			</div>
			<div class="boton">
				<figure>
					<figcaption class="img3"></figcaption>
					<figcaption class="texto">Otorgante Juridico</figcaption>
				</figure>
			</div>
			<div class="boton">
				<figure>
					<figcaption class="img4"></figcaption>
					<figcaption class="texto">Favorecido Juridico</figcaption>
				</figure>
			</div>
			<div class="boton">
				<figure>
					<figcaption class="img5"></figcaption>
					<figcaption class="texto">Fecha</figcaption>
				</figure>
			</div>
			<div class="boton">
				<figure>
					<figcaption class="img6"></figcaption>
					<figcaption class="texto">Nombre del bien</figcaption>
				</figure>
			</div>
		</section>
	<aside>
		<article>
			<h2>Listado de Notarios</h2>
			<p>
				Se encuentra la documentacion en Base de Datos de los siguientes notarios, para facilitar la Busqueda:
				Todos los Notarios de Azangaro
				Todos los Notarios de Lampa
				Todos los Notarios de Carabaya
				Notarios de San Roman
				Notarios de Puno
			</p>
		</article>
		<div id="video">
			<h3>Video: Navidad 2013 en Lampa</h3>
			<video autoplay controls>
				<source src="" type="video/ogg" />
				<source src="/home/edgar/Vídeos/navidad_2013.mp4" type="video/mp4" />
				<p>Tu navegador no soporta HTML5</p>
			 </video>
		</div>
	</aside>
	</nav>
	<footer>
		<p>Copyright 2014.<br>
		Archivo Regional Puno<br>
		Jr. Arequipa 1145 - Cercado de Puno<br>
		Telefono:  365910<br>
		Pagina Web:  archivoregionalpuno.gob.pe<br>
		E-Mail:  archivo@archivoregionalpuno.gob.pe
		</p>

		<p id="oficina">Área Informática 2014<br>
		Puno - Peru<br>
		Contacto: webmaster@archivoregionalpuno.gob.pe
		</p>
	</footer>
</body>
</html>